h1{
    font-family:'Noto Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color: rgb(250, 146, 9);
}
body{
    background-image: url('../assets/image/man.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    width: 450px;
    height: 450px;
    display: block;
    background-color: beige;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 29px 10px 15px -3px rgba(243, 116, 116, 0.87);

}
#red{
    background-color: rgb(8, 210, 38);
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100PX;
    i
}
.yellow{
    background-color: rgb(180, 32, 9);
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50PX;
}
.blue{
    background-color: rgb(210, 200, 8);
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50PX;
}
img{
    display:block;
    width: 60px;
    height:auto;
    padding-top: 20px;
    padding-left: 20px;
}
#mark{
    display:block;
    width: 60px;
    height:auto;
    padding-top: 20px;
    padding-left: 40px;
}
}